body {
background-color: rgb(6, 116, 206);
font: normal 15pt Arial;
}
header{
color: azure;
text-align: center;
}
.jogo {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.295);

}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color:#ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.azul {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
    opacity: 0.3;

}

.amarelo {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    opacity: 0.3;

}

.verde {
    grid-area: verde;
    background-color: rgb(24, 223, 24);
    border-top-left-radius: 100%;
    opacity: 0.3;

}
.vermelho {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
    opacity: 0.3;

}

.selecionado{
    opacity: 0.9;
}
footer{
color: azure;
text-align: center;
}